<%- include('_header')%>

 <!-- CONTENT START -->
 <div class="page-content">
  <!-- INNER PAGE BANNER -->
  <div class="wt-bnr-inr overlay-wraper bg-parallax bg-top-center"  data-stellar-background-ratio="0.5"  style="background-image:url('https://res.cloudinary.com/dvibmdi1y/image/upload/c_lfill,f_auto,g_auto,h_700,q_auto,w_1000/v1681117669/astrik/images/banner/6_tiffe4.jpg');">
    <div class="overlay-main bg-black opacity-07"></div>
      <div class="container">
          <div class="wt-bnr-inr-entry">
            <div class="banner-title-outer">
                <div class="banner-title-name">
                  <h2 class="text-white text-uppercase letter-spacing-5 font-18 font-weight-300">Sustainability, Innovation, and Craftmanship</h2>
                  </div>
              </div>
              <!-- BREADCRUMB ROW -->                            
              <div class="p-tb20">
                  <div>
                      <ul class="wt-breadcrumb breadcrumb-style-2">
                          <li><a href="javascript:void(0);">Home</a></li>
                          <li>Projects</li>
                      </ul>
                  </div>
              </div>
              <!-- BREADCRUMB ROW END -->                        
          </div>
      </div>
  </div>
  <!-- INNER PAGE BANNER END -->
  
<!-- SECTION CONTENT START -->
  <div class="section-full p-tb90">
    <div class="container">
          <!-- PAGINATION START -->
          <div class="filter-wrap p-tb50">
              <ul class="masonry-filter link-style  text-uppercase">
                      <li class="active"><a data-filter="*" href="#">All</a></li>
                      <li><a data-filter=".cat-1" href="#">Building</a></li>
                      <li><a data-filter=".cat-2" href="#">Roads</a></li>
              </ul>
          </div>
          <!-- PAGINATION END -->
    </div>
      <!-- GALLERY CONTENT START -->
       <div class="portfolio-wrap mfp-gallery work-grid clearfix">
           <div class="container-fluid">
               <div class="row">
                      <!-- COLUMNS 1 -->
                      <% projects.map( project =>{
                        let date= `${project.date}`.split(" ");
                        
                        %>
                      <div class="masonry-item <%= project.type == 'house' ? 'cat-1':'cat-2' %> col-lg-3 col-md-6 col-sm-6 m-b30">
                          <div class="wt-img-effect ">
                              <img src="http://res.cloudinary.com/debij8tqo/image/upload/c_lfill,f_auto,g_auto,h_700,q_auto,w_500/v1680510708/<%= project.images[0]?.image.split('/').pop()%>" alt="">
                              <div class="overlay-bx-2 ">
                                  <div class="line-amiation">
                                      <div class="text-white  font-weight-300 p-a40">
                                          <h2><a href="/projects/<%= project._id%>" class="text-white font-20 letter-spacing-4 text-uppercase"><%= project.name%></a></h2>
                                          <p><%- project.description.slice(0,150)%>...
                                          </p>
                                            <ul class="list-arrow">
                                                <li><b>CLIENT:</b> <%= project.client%></li>
                                                <li><b>LOCATION:</b> <%= project.location%></li>
                                                <li><b>ROLE:</b> <%= project.role%></li>
                                            </ul>
                                          <a href="/projects/<%= project._id%>" class="v-button letter-spacing-4 font-12 text-uppercase p-l20">Read More</a>
                                      </div>
                                  </div>
                             </div>
                          </div>
                      </div>
                      <% })%>
                                                                                                                     
                  </div>
        </div>
          </div>
      <!-- GALLERY CONTENT END -->
  
  </div>
  <!-- SECTION CONTENT END  -->

</div>
<!-- CONTENT END -->

<%- include('_footer_white')%>
